table{
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 2%;
}
table, tr, th, td{
  border: 1px solid black;
  box-sizing: content-box;
}

.b{
  display: inline-block
}
div{
  text-align: center;
}

td,tr{
  width: 199px;
  height: 199px;
}
